@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-secondary-background: var(--secondary-background);
  --color-link: var(--link);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: var(--font-display);
  --font-serif: var(--font-serif);
  --font-mono-code: var(--font-mono-code);
  --font-mono: var(--font-mono);
  --font-signature: var(--font-signature);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --base-hue: 262.04;

  --secondary-background: oklch(0.134 0.0051 var(--base-hue));
  --link: oklch(64.6% 0.172 var(--base-hue));
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 var(--base-hue));
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 var(--base-hue));
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 var(--base-hue));
  --primary: oklch(0.488 0.243 var(--base-hue));
  --primary-foreground: oklch(0.97 0.014 var(--base-hue));
  --secondary: oklch(0.967 0.001 var(--base-hue));
  --secondary-foreground: oklch(0.21 0.006 var(--base-hue));
  --muted: oklch(0.967 0.001 var(--base-hue));
  --muted-foreground: oklch(0.552 0.016 var(--base-hue));
  --accent: oklch(0.967 0.001 var(--base-hue));
  --accent-foreground: oklch(0.21 0.006 var(--base-hue));
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 var(--base-hue));
  --input: oklch(0.92 0.004 var(--base-hue));
  --ring: oklch(0.705 0.015 var(--base-hue));
  --chart-1: oklch(0.809 0.105 var(--base-hue));
  --chart-2: oklch(0.623 0.214 var(--base-hue));
  --chart-3: oklch(0.546 0.245 var(--base-hue));
  --chart-4: oklch(0.488 0.243 var(--base-hue));
  --chart-5: oklch(0.424 0.199 var(--base-hue));
  --radius: 0.45rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 var(--base-hue));
  --sidebar-primary: oklch(0.546 0.245 var(--base-hue));
  --sidebar-primary-foreground: oklch(0.97 0.014 var(--base-hue));
  --sidebar-accent: oklch(0.967 0.001 var(--base-hue));
  --sidebar-accent-foreground: oklch(0.21 0.006 var(--base-hue));
  --sidebar-border: oklch(0.92 0.004 var(--base-hue));
  --sidebar-ring: oklch(0.705 0.015 var(--base-hue));
}

.dark {
  --secondary-background: oklch(0.134 0.0051 var(--base-hue));
  --link: oklch(61.53% 0.1675 var(--base-hue));
  --background: oklch(14.68% 0.01 var(--base-hue));
  --foreground: oklch(93.66% 0.027 var(--base-hue));
  --card: oklch(0.21 0.006 var(--base-hue));
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 var(--base-hue));
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.42 0.18 var(--base-hue));
  --primary-foreground: oklch(0.97 0.014 var(--base-hue));
  --secondary: oklch(0.274 0.006 var(--base-hue));
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 var(--base-hue));
  --muted-foreground: oklch(77.16% 0.028 var(--base-hue));
  --accent: oklch(0.274 0.006 var(--base-hue));
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(24.84% 0.018 var(--base-hue) / 50%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 var(--base-hue));
  --chart-1: oklch(0.809 0.105 var(--base-hue));
  --chart-2: oklch(0.623 0.214 var(--base-hue));
  --chart-3: oklch(0.546 0.245 var(--base-hue));
  --chart-4: oklch(0.488 0.243 var(--base-hue));
  --chart-5: oklch(0.424 0.199 var(--base-hue));
  --sidebar: oklch(0.21 0.006 var(--base-hue));
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.623 0.214 var(--base-hue));
  --sidebar-primary-foreground: oklch(0.97 0.014 var(--base-hue));
  --sidebar-accent: oklch(0.274 0.006 var(--base-hue));
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 var(--base-hue));
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.badge-border {
  border: 1.5px solid oklch(77.16% 0.028 262.04 / 15%);
}

.badge-background {
  background-color: oklch(56.78% 0.05 262.04 / var(--opacity, 0.3));
  backdrop-filter: blur(var(--blur, 12px)) saturate(var(--saturate, 1.15));
}
